.form {
  background: #fff;
  border-radius: 10px 10px 10px 10px;
  padding: 30px 30px 15px 30px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.header {
  font-size: 2em;
  color: #2e2e2e;
  font-weight: 700;
  z-index: 2;
  text-align: center;
}

/*Animation*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
